<!-- Navigation -->

<div class="navbar">
    <mat-toolbar class="navigation">
      <span class="shop-name w-full flex justify-center"
        >Michael's Selling Shop</span
      >
      <div>
        <button
          mat-icon-button
          aria-label="Wishlist"
          (click)="onHomeLinkClick()"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
  
      <button mat-icon-button aria-label="Change Checkout">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  

<!-- Change Calculation  -->

<div class="change-calculation"></div>
